/*
 * acme-bancoacqua.dts
 * Device Tree file per Acqua A5 per il banco di test
 * che include il minimo di file esterni
 *
 * https://git.kernel.org/cgit/linux/kernel/git/stable/linux-stable.git/tree/Documentation/devicetree/bindings/pinctrl/atmel,at91-pinctrl.txt?id=refs/tags/v4.4.3
 */
 
/dts-v1/;
#include "sama5d3.dtsi"
#include "sama5d3_emac.dtsi"

/ {
	model = "Acme Systems Acqua A5";
	compatible = "atmel,sama5d31ek", "atmel,sama5d31", "atmel,sama5d3", "atmel,sama5";

	chosen {
		stdout-path = "serial0:115200n8";
	};

	memory {
		reg = <0x20000000 0x10000000>;
	};

	clocks {
		slow_xtal {
			clock-frequency = <32768>;
		};

		main_xtal {
			clock-frequency = <12000000>;
		};
	};
 
	ahb {
		apb {
			pinctrl@fffff200 {
				board {
					pinctrl_mmc0_cd: mmc0_cd {
						atmel,pins =
							<AT91_PIOD 17 AT91_PERIPH_GPIO AT91_PINCTRL_PULL_UP_DEGLITCH>; /* PD17 GPIO with pullup deglitch */
					};
				};
			};

			dbgu: serial@ffffee00 {
				dmas = <0>, <0>;	/*  Do not use DMA for dbgu */
				status = "okay";
			};

			mmc0: mmc@f0000000 {
				pinctrl-0 = <&pinctrl_mmc0_clk_cmd_dat0 &pinctrl_mmc0_dat1_3 &pinctrl_mmc0_dat4_7 &pinctrl_mmc0_cd>;
				status = "okay";
				slot@0 {
					reg = <0>;
					bus-width = <8>;
					cd-gpios = <&pioE 0 GPIO_ACTIVE_LOW>;
				};
			};

			adc0: adc@f8018000 {
				pinctrl-names = "default";
				pinctrl-0 = <
					&pinctrl_adc0_ad10
					&pinctrl_adc0_ad11
					>;
				status = "okay";
			};
			
			i2c3@ {
				compatible = "i2c-gpio";
				gpios = <&pioE 1 0 /* SDA */
						 &pioE 2 0 /* SCK */
						>;

				/*i2c-gpio,sda-open-drain;*/
				/*i2c-gpio,scl-open-drain;*/
				i2c-gpio,delay-us = <4>;	/* ~178 kHz */
				#address-cells = <1>;
				#size-cells = <0>;
			};

			macb1: ethernet@f802c000 {
				status = "okay";
				phy-mode = "rmii";

				#address-cells = <1>;
				#size-cells = <0>;
				phy0: ethernet-phy@1 {
					interrupt-parent = <&pioE>;
					interrupts = <30 IRQ_TYPE_EDGE_FALLING>;
					reg = <1>;
				};
			};
		
		};

		usb0: gadget@00500000 {
			status = "disabled";
		};

		usb1: ohci@00600000 {
			status = "okay";
		};

		usb2: ehci@00700000 {
			status = "okay";
		};

	};

	leds {
		compatible = "gpio-leds";

		led0 {
			label = "led0";
			gpios = <&pioE 3 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		led1 {
			label = "led1";
			gpios = <&pioE 4 GPIO_ACTIVE_LOW>;
			default-state = "off";
		};

		led2 {
			label = "led2";
			gpios = <&pioE 5 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "heartbeat";
		};

		led3 {
			label = "led3";
			gpios = <&pioE 6 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "mmc0";
		};

	};
};
